#HW4 - SQL

This homework has you working with a new database of information on ticket sales for various types of events.  Your job will be to do some initial exploring and then demonstrate your ability to do all the different types of SQL queries we learned over the last week.  You'll also need to make one function that'll make looking at the tables easier.

These questions are written in the way someone would ask them to you.  In other words, I'm using 'plain english' questions vs. ones where I'm very explicit in terms of what columns and tables to use.  Your exploring of the database and functions to ease that process will come in handy here!  

The database has been created using a set of data from Amazon. You can read more about what each table contains here: https://docs.aws.amazon.com/redshift/latest/dg/c_sampledb.html.

**Submission Instruction**

1- Replace the blank with your name (e.g. DE_HW4-Sara_Riazi)

2- Run your notebook (all the outputs must be visible).

3- Download .ipynb  

4- Submit on Gradescope

## Libraries and import functions

In [ ]:
!pip install mysql-connector-python

First bring the libraries we'll need!

In [ ]:
import mysql.connector
import pandas as pd

Now bring get_conn_cur and run_query funtions as well as connection information as we used in the practice notebook for SQL (Lab 3)!

In [ ]:
#connection

In [ ]:
#run_query

## Make a SQL head function - 5 point

Make function to get the pandas equivalent of `.head()`

This function should be called `sql_head` and take a single argument of `table_name` where you specify the table name you want the head information from.  It should return the column names along with the first five rows of the table along.  

**For full points, return a pandas dataframe with this information so it displays nicely :)**

In [ ]:
# make sql_head function

In [ ]:
# Check that it works!
sql_head(table_name = 'ticketsdb_sales')

## Explore and SELECT - 5 point

Let's start this homework with some basic queries to get a look at what's in the various tables. Remember that we are using one Database for all schemas in this course. So running "show tables" will list all tables from previous schemas too.
* use run_query first to run "show tables"
* look at the column name, we only wants the tables that starts with 'ticketsdb' which is the schema of this notebook.
* run "show tables where Tables_in_ista322dbs like 'ticketsdb_%' " query using run_query to see all tables for ticketsdb schema.
* Now use the `sql_head()` function you created to get the first five rows of all tables in the ticketsdb schema

## WHERE - 5 points

Now let's do a bit of filtering with WHERE.  Write and run queries to get the following results.  
**LIMIT all returns to first five rows.**

* Get venues with >= 10000 seats from the venues table
* Get venues in Arizona
* Get users who have a first name that starts with H
* Get **just email addresses** of users who gave a .edu email address

In [ ]:
# Get big venues... so those with >= than 10000 seats

In [ ]:
# Get venues in AZ

In [ ]:
#Get users who have a first name that starts with H

In [ ]:
# Get all .edu email addresses... just the email addresses

## GROUP BY and HAVING - 5 points

Time to practice some GROUP BY and HAVING operations. Please write and run queries that do the following:

GROUP BY application
* Find the top five venues that hosted the most events: Alias the count of events as 'events_hosted'. Also return the venue ID
* Get the number of events hosted in each month. You'll need to use `date_part()` in your select to select just the months. Alias this as 'month' and then the count of the number of events hosted as 'events_hosted'.
* Get the top five sellers who made the most commission. Alias their total commission made as 'total_com'. Also get their average commission made and alias as 'avg_com'.  Be sure to also display the seller_id.  

HAVING application
* Using the same query as the last one, instead of getting the top five sellers get all sellers who have made a total commission greater than $4000.
* Using the same query as the first groupby, instead of returning the top five venues, return just the ID's of venues that have had greater than 60 events.

In [ ]:
### GROUP BY application
# Find the top five venues that hosted the most events: Alias the count of events as 'events_hosted'. Also return the venue ID

In [ ]:
# Get the number of events hosted in each month. You'll need to use `month()` in your select to select just the months.
# Alias this as 'month' and then the count of the number of events hosted as 'events_hosted'

In [ ]:
# Get the top five sellers who made the most commission. Alias their total commission made as 'total_com'.
# Also get their average commission made and alias as 'avg_com'. Be sure to also display the seller_id

In [ ]:
### HAVING application
# Using the same query as the last groupby, instead of getting the top five sellers get all sellers who have made a total commission greater than $4000

In [ ]:
# Using the same query as the first groupby, instead of returning the top five venues, return just the ID's of venues that have had greater than 60 events

## JOIN - 5 points

Time for some joins. You've probably noticed by now that there is at least one relational key in each table, but some have more.  For example, sales has a unique sale id, listing id, seller id, buyer id, date id.  This allows you to link each sale to relevant information in other tables.  

Please write queries to do the following items:

* Join information of users to each sale made (using seller id).  
* Join information about each venue to each event.

In [ ]:
# Join users information to each sale using seller id (correct solution has 172456 rows)

In [ ]:
# For each event attach the venue information (correct solution has 8659 rows)

## Subqueries - 5 points

To wrap up let's do several subqueries. Please do the following:

* Get all purchases made by users of live in Arizona
* Get event information for all events that took place in a venue where the venue name ends with 'Stadium'.
* Get event information for all events where the total ticket sales were greater than $50,000.

In [ ]:
# Get all purchases from users who live in Arizona (correct solution has 1855 rows)

In [ ]:
# Get event information for all events that took place in a venue where the name ended in 'Stadium' (correct solution has 1029 rows)

In [ ]:
# Get event name where the total sales for that event were greater than $50000 (correct solution has three rows for Adriana Lecouvreur,Phantom of the Opera, and Janet Jackson )
# Note that we are looking for  event name!